<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Имя: <%= @name %>, <br/>
    Телефон: <%= @phone %>, <br/>
    Диск: <%= @item.brand.name %>, Цена: <%= @item.price %>, Ширина: <%= @item.width %>, Диаметр диска: <%= @item.diameter_diska %>, Кол. болтов: <%= @item.bolt_count %>, Расстояние между болтами: <%= @item.bolt_distance %>, ET: <%= @item.et %>, Диаметр: <%= @item.diameter %>
  </body>
</html>
