<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Имя: <%= @name %>, <br/>
    Телефон: <%= @phone %>, <br/>
    Шина: <%= @item.brand_name %>, Цена: <%= @item.price %>, Диаметр: <%= @item.diameter %>, Ширина: <%= @item.width %>, Профиль: <%= @item.height %>
  </body>
</html>
