<p id="notice"><%= notice %></p>

<p>
  <strong>Width:</strong>
  <%= @disk.width %>
</p>

<p>
  <strong>Diameter diska:</strong>
  <%= @disk.diameter_diska %>
</p>

<p>
  <strong>Bolt count:</strong>
  <%= @disk.bolt_count %>
</p>

<p>
  <strong>Bolt distance:</strong>
  <%= @disk.bolt_distance %>
</p>

<p>
  <strong>Et:</strong>
  <%= @disk.et %>
</p>

<p>
  <strong>Diameter:</strong>
  <%= @disk.diameter %>
</p>

<%= link_to 'Edit', edit_disk_path(@disk) %> |
<%= link_to 'Back', disks_path %>
