<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @year.year %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @year.mark %>
</p>

<p>
  <strong>Model:</strong>
  <%= @year.model %>
</p>

<%= link_to 'Edit', edit_year_path(@year) %> |
<%= link_to 'Back', years_path %>
